@model CamXucWeb.ViewModels.StatisticsVM

@{
    ViewData["Title"] = "Statistics";
}


<h2>Statistics</h2>

<p>Positive Percentage: @Model?.PositivePercentage%</p>
<p>Negative Percentage: @Model?.NegativePercentage%</p>
